<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[ETL-Console] [%t] %d{dd MMM yyyy HH:mm:ss} [%p] %c{1}.%M(%L) | %m%n" />
		</layout>
	</appender>

	<logger name="org.hibernate" additivity="false">
		<priority value="ERROR" />
	</logger>

	<logger name="org.springframework" additivity="false">
		<priority value="ERROR" />
	</logger>
	<root>
		<priority value="INFO" />
		<appender-ref ref="stdout" />
	</root>
</log4j:configuration>